/* ここから下に記載していく */
@charset "utf-8";

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    color: #333;
    font-size: 1.6rem;
    font-family: 'Outfit', 'Open Sans', sans-serif, 'Noto Sans JP';
}

img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #333;
}
p{
    line-height: 2;
}
.text-center{
    text-align: center;
}
.text-color-w{
    color: #fff;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.content-wrapper{
    background-color: #FFD000;
}
.text-color_y{
   color: #ffd61a;
}
.en__title{
    font-size: 3.4rem;
    font-weight: bold;
    margin: 0 0 30px;
}
.ja__title{
    font-size: 1.8rem;
    margin: 0 0 60px;
}
/*==================================================
背景色が伸びて出現
===================================*/

/*全共通*/

.bgextend{
  animation-name:bgextendAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
  position: relative;
  overflow: hidden;/*　はみ出た色要素を隠す　*/
  opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
  animation-name:bgextendAnimeSecond;
  animation-duration:1s;
  animation-delay: 0.6s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
  animation-name:bgLRextendAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}

 /* ----------------
 * header
 * ---------------- */
 .header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.nav-list{
    display: flex;
    margin: 50px 0;
}
.nav-item{
    margin: 0 0 0 30px;
    font-size: 1.8rem;
    font-weight: 200;
    /* font-size: 1.4vw; */
}
.nav-item>a{
    text-transform: uppercase;
}
/* ----------------
 * main-heading-wrapper
 * ---------------- */
 .main-heading-wrapper{
     position:relative;
     max-width: 1140px;
     margin: 30px auto 80px;
 }
.heading-title_01{
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.95;
    letter-spacing: 0.02em;

}
.heading-title_02{
    font-size: 45px;
    font-weight: 900;
    margin: 70px 0 0 ;
    text-align: right;
}
.heading-title_03{
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0 0;
    text-align: right;
}
.fadeUpHead{
    animation-name:fadeUpAnimeHead;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeUpAnimeHead{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
.delay-time01{
    animation-delay: 1.8s;
}
/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/
.box{
    opacity: 0;
  }
  .fadeUp{
      animation-name:fadeUpAnime;
      animation-duration:0.5s;
      animation-fill-mode:forwards;
      opacity:0;
  }
  @keyframes fadeUpAnime{
      from{
          opacity: 0;
          transform: translateY(100px);
      }
      to{
          opacity:1;
          transform: translateY(0);
      }
  }
.delay-time02{
      animation-delay: 0.2s;
  }
.delay-time03{
    animation-delay: 0.5s;
}
.delay-time04{
    animation-delay: 0.8s;
}
.delay-time05{
    animation-delay: 1.8s;
}
  /* ----------------
 * about
 * ---------------- */
 .about{
    background-color: #333;
     padding: 90px 0 0;
 }
 .about__text{
     padding: 0 0 80px;
 }
 .about__text p{
     margin: 0 0 40px;
 }
 .about-list{
     display: flex;
 }
 .about-item{
     width:25%;
 }
 .about-img{
     width:300px;
     margin: 0 0 20px 0;
 }
 /* ----------------
 * about 画像スライド 無限ループアニメーション
 * ---------------- */
 
 .loop_wrap {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100vw;
    overflow: hidden;
  }

  .loop_wrap ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .loop_wrap li {
    display: inline-block;
    width: calc(100vw / 2);
    min-width: 350px;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .loop_wrap li img {
    display: block;
    width: 100%;
    height: auto;
  }

  .loop_wrap ul:first-child {
    -webkit-animation: loop 20s -10s linear infinite;
    animation: loop 20s -10s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }

  .loop_wrap ul + ul {
    -webkit-animation: loop2 20s  linear infinite;
    animation: loop2 20s linear infinite;
  }

  @-webkit-keyframes loop {
    0% {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @keyframes loop {
    0% {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes loop2 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  @keyframes loop2 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

/* ----------------
 * corse
 * ---------------- */
 .course{
     padding: 90px 0 0;
     background-color: #FFF; 
 }
 .course__list{
     margin: 60px 0 0 0;
     padding: 0 0 50px;
 }
 .course__innerlist{
     display: flex;
     align-items: center;
 }
 .course__innerlist__reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
 .course__img{
     width: 100%;
 }
 .course__text{
     width: 100%;
 }
 .course_title__right{
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 40px 50px;
    width: 480px;
 }
 .course_text__right{
    width: 480px;
    margin: 0 0 0 50px;
 }
 .course_title__left{
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 50px 40px 0;
    width: 480px;
 }
 .course_text__left{
    width: 480px;
    margin: 0 50px 0 0;
 }
/*==================================
ふわっ
===================================*/
/* fadeUp */

 .fadeUp{
 animation-name:fadeUpAnime;
 animation-duration:0.5s;
 animation-fill-mode:forwards;
 opacity:0;
 }
 
 @keyframes fadeUpAnime{
   from {
     opacity: 0;
   transform: translateY(100px);
   }
 
   to {
     opacity: 1;
   transform: translateY(0);
   }
 }
 
 /* スクロールをしたら出現する要素にはじめに透過0を指定 */  
 .fadeUpTrigger{
     opacity: 0;
 }
 

 /* ----------------
 * news
 * ---------------- */
 .news{
     margin: 90px 0;
 }
 .news__list{
     display: flex;
     justify-content: center;
     margin: 0 0 60px;
 }
 .news__item{
     width: 300px;
     margin: 0 30px 0 0;
 }
 .news__eyecatch img{
     border-radius: 50%;
 }
 .anim-box.poyopoyo{
     animation: poyopoyo 2s ease-out infinite;
     opacity: 1;
 }
 @keyframes poyopoyo{
     0%, 40%, 60%, 80%{
         transform: scale(1.0);
     }
     50%, 70%{
         transform: scale(0.95);
     }
 }
 .btn{
     display:block;
     width: 300px;
     margin: auto;
     background-color: #333;
     padding: 22px 0;
     color:#fff;
 }

 .anim-box.kiran {
    opacity: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .anim-box.kiran::before {
    background-color: #fff;
    content: "";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 30px;
    height: 100%;
    opacity: 0;
    transition: cubic-bezier(0.32, 0, 0.67, 0);
  }
  .anim-box.kiran:hover::before {
    animation: kiran 0.5s linear 1;
  }
   
  @keyframes kiran {
    0% {
      transform: scale(2) rotate(45deg);
      opacity: 0;
    }
    20% {
      transform: scale(20) rotate(45deg);
      opacity: 0.6;
    }
    40% {
      transform: scale(30) rotate(45deg);
      opacity: 0.4;
    }
    80% {
      transform: scale(45) rotate(45deg);
      opacity: 0.2;
    }
    100% {
      transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }
  /* ----------------
 * access
 * ---------------- */
 .access{
    padding: 90px 0;
    background-color: #fafafa;
}
.googlemap{
    margin: 0 0 60px;
}
/*
   Google Mapをcssのみでモノクロにする方法
   https://mono96.jp/web/43429/
 */
.googlemap iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
.access-wrapper{
    width: 560px;
    margin: auto;
}
.access__list{
    display: flex;
    flex-wrap: wrap;
}
.access__title{
    width: 30%;
    padding: 17px 0;
    
}
.access__item{
    width: 70%;
    padding: 17px 0;
    line-height: 1.5;
}
 /* ----------------
 * contact
 * ---------------- */
 .contact{
    padding: 90px 0 140px;
}
.contact-text{
    margin: 0 0 30px;
}
.contact-wrapper{
    width: 645px;
    margin: 70px auto 0;
}
.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}
.form-title{
    width: 160px;
    padding: 8px 64px 0 16px;
}
.form-item{
    width: 400px;
    padding: 8px 0;
}
.form-parts{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 328px;
    margin: 0 8px;
    padding: 8px;
    border: solid 1px #bfbfbf;
    font-size: 1.6rem;
}
input[type*=radio]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:16px;
    height: 16px;
    border: solid 1px #a0a0a0;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px 0 8px;
    vertical-align: -2px;
}
input[type*=radio]:checked{
    background-color: #333;
}
.form-item label{
    display: block;
    margin: 0 0 24px;
}

.btn-submit{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
 /* ----------------
 * footer
 * ---------------- */
 .footer{
     background-color: #333;
     padding: 30px 0;
     z-index: 2;
 }
 .copyrights{
     color: #fff;
 }
/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/* 上に上がる動き */
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/* 下に下がる動き */
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.8rem;
    /*背景画像の指定*/
	background: url("../img/pagetop_1.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 100px;
	height: 100px;
    /*背景画像の指定*/
	background: url("../img/pagetop_2.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 3s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 30px;
	color: #666;
}
